<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <%= render "navigation/navbar" %>
  <% flash.each do |key, msg| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= msg.html_safe %>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
